<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gld.ncs.mapper.NormItemMapper">
    <resultMap id="normItemMap" type="com.gld.ncs.entity.NormItem">
        <result property="id" column="normitem_id"/>
        <result property="sectionId" column="section_id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="unit" column="unit"/>
        <result property="priceNotTax" column="PriceNotTax"/>
        <result property="priceLabor" column="PriceLabor"/>
        <result property="PNTMaterial" column="PNTMaterial"/>
        <result property="PNTMachine" column="PNTMachine"/>
    </resultMap>

    <select id="selectNormItemBySectionId" resultMap="normItemMap">
        select * from normitem where section_id = #{sectionId}
    </select>

</mapper>