<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gld.ncs.dao.LMMDetailDao">
    <resultMap id="lmmdetailMap" type="com.gld.ncs.model.LMMDetail">
        <result property="lmmdetailId" column="lmmdetail_id"/>
        <result property="normitemId" column="normitem_id"/>
        <result property="lmmdetailCode" column="lmmdetail_code"/>
        <result property="lmmdetailName" column="lmmdetail_name"/>
        <result property="lmmdetailType" column="lmmdetail_type"/>
        <result property="lmmdetailUnit" column="lmmdetail_unit"/>
        <result property="lmmdetailNTBudget" column="lmmdetail_NTbudget"/>
        <result property="lmmdetailBudget" column="lmmdetail_bugdet"/>
        <result property="lmmdetailKind" column="lmmdetail_kind"/>
    </resultMap>

    <select id="selectLMMDetailByNormItemId" resultMap="lmmdetailMap">
        select * from lmmdetail where normitem_id = #{normitemId}
    </select>

</mapper>