<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gld.ncs.dao.UserDao">
<resultMap id="userMap" type="com.gld.ncs.model.User">
    <result property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="password" column="password"/>
</resultMap>

<select id="selectUsers" resultMap="userMap">
        select * from USER
    </select>

<delete id="deleteById">
        delete from user where id=#{id}
    </delete>

</mapper>